{
    "host": [
        "http://127.0.0.1:8080"
    ],
    "tracker": {
        "nicept": 12288,
        "keepfrds": 12800
    },
    "default": 0,
    "trackerslist": "https://raw.githubusercontent.com/ngosang/trackerslist/master/trackers_best.txt"
}